**.pyc
**.pkl
**.pth
**.pdf
**.npz
!supplementary_material.pdf
**.jpg
**.png
!data/loss-diagram.png
**.tgn
runs/**
results/**
data/orbslam-estimates/ground_truth/*
data/orbslam-estimates/orbslam_mono_traj/*
paper_plots_and_data/plot_scale_factor_training.py
paper_plots_and_data/evaluate_ATE/pose_data/*
data/create_kitti_odometry_data.py
