**.pyc
**.pkl
**.pth
**.pdf
!supplementary_material.pdf
**.jpg
**.png
!data/system-overview.png
**.tgn
runs/**
results/**
data/orbslam-estimates/ground_truth/*
data/orbslam-estimates/orbslam_mono_traj/*
